html5
html
  head
    title WBPRS — #{title}
  body
    header
      h2
        a(href="/") WBPRS
        |  — #{title}
      if session.admin
        p
          i 
            | (you have 
            a(href="/admin") admin
            | 
            | powers)
    section.content
      block content
