extends ../layout

block content
  
  form(method='post', action='/photo/upload', enctype='application/x-www-form-urlencoded')
    ul
      li
        label(for="title") Title 
        input#title(name="title")
      li
        label(for="tags") Tags 
        i (seperated by spaces) 
        input#tags(name="tags")
    input(type="submit", value="Upload")
