extends ../layout

block content
  
  form(method='post', action='/photo/upload', enctype='multipart/form-data')
    if invalid
      .error Please enter a valid title.
    ul
      li
        label(for="title") Title 
        input#title(name="title")
      li
        label(for="tags") Tags 
        i (seperated by spaces) 
        input#tags(name="tags")
      li
        label(for="image") Image 
        i (2 MB max.) 
        input#image(type="file", name="image")
    input(type="submit", value="Upload")
